body{
    background-color: #A2D7D5;
}

#navbar{
    background-color: #DF807E;
    padding: 8px;
    text-align: center;
    border-radius: 20px;

    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

#navbar a{
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
}

#search-bar{
    padding: 5px;
    border-radius: 5px;
    border: none;
}

#search-button{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #8A9A5B;
    color: white;
    cursor: pointer;
}


footer{
    background-color: #DF807E;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
}

/* pokemon */
.gen-buttons{
    padding: 15px;
    border-radius: 10px;
    border: none;
}

#gens{
    align-items: center;
}